#instagram-gallery {
    display: none;
}

.instagram-feed {
    padding: 30px;
}

.instagram-feed__row {
    margin-bottom: 30px;
    position: relative;
}

.instagram-feed__row__item {
    overflow: hidden;
    position: relative;
}

.instagram-feed__row__item:hover .instagram-feed__row__item__info-hover {
    opacity: 1;
}

.instagram-feed__row__item__info-hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.instagram-feed__row__item__info-hover {
    color: white;
    font-size: 18px;
}

.instagram-feed__row__item__info-hover__left {
    text-align: right;
    padding-right: 15px;
}

.box_transition {
    -webkit-transition: all 0.3s ease-out; /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out; /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.instagram-feed__row__item.mr30 {
    margin-right: 30px;
}

@media (max-width: 750px) {
    .instagram-feed__row__item.mr30 {
        margin-right: 5px;
    }

    .instagram-feed__row {
        margin-bottom: 5px;
    }

    .instagram-feed {
        padding: 5px;
    }

    #instagram-gallery__wrapper__info-block {
        display: none;
    }

    #instagram-gallery__wrapper__info-block__second {
        display: block !important;
    }
}

.instagram-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 10;
}

.instagram-gallery__wrapper__info__header {
    height: 60px;
}

.instagram-gallery__wrapper__info__header__link {
    color: #262626;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.instagram-gallery__wrapper__info__header__link:hover{
    color: #191919;
}
.instagram-gallery__wrapper__info__like-it{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
}
.instagram-gallery__wrapper__info__decription{
    font-size: 15px;
    margin: 0;
    padding: 0;
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}
.instagram-gallery__wrapper__info__date{
    font-size: 15px;
}

.instagram-gallery__wrapper {
    height: 100%;
}

.instagram-gallery__wrapper__top-pd {
    text-align: right;
    padding: 10px 10px 0 0;
}

.instagram-gallery__wrapper__top-pd,
.instagram-gallery__wrapper__bottom-pd {
    height: 40px;
}

.instagram-gallery__wrapper__image {
    width: 100%;
}

#instagram-gallery__wrapper__container {
    margin: 0 auto;
}

.instagram-gallery__wrapper__move-left,
.instagram-gallery__wrapper__move-right {
    width: 50px;
    text-align: center;
}

.instagram-gallery__wrapper__block-move {
    min-width: 60px !important;
}

.instagram-gallery__wrapper__info {
    width: 350px;
    height: auto;
    background: white;
    border-left: 1px solid rgba(0,0,0,0.12);
}

#instagram-gallery__wrapper__info-block__second {
    display: none;
    width: 100%;
    height: auto;
}

#instagram-gallery__wrapper__img {
    width: 100%;
    height: 100%;
    display: block;
}

.instagram-feed__row__item__image {
    height: 100%;
    width: 100%;
    display: block;
}

.instagram-move-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.instagram-close-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

._pupj3 {
    cursor: pointer;
}

._pupj3, ._pupj3::before, ._gsvhg, ._gsvhg::before, ._gsvhg::after {
    height: 120px;
    width: 120px;
}

._pupj3, ._gsvhg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 60px auto 0;
    position: relative;
}

._pupj3::before, ._stvbq {
    border-color: #3897f0;
}

._pupj3::before, ._gsvhg::before, ._gsvhg::after {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
}

._oidfu, ._oidfu:visited, ._1ooyk, ._1ooyk:visited {
    color: #3897f0;
}

._oidfu, ._hnn7m, ._1ooyk, ._lml9j {
    font-weight: 600;
}

._oidfu, ._hnn7m {
    display: block;
    font-size: 14px;
    padding: 50px 9px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

