<div>
    <div layout="row" class="instagram-feed md-whiteframe-1dp">
        <div flex layout="column" layout-align="center">
            <div flex layout="row" ng-if="list[0].open" ng-repeat="list in vm.feed.list.data" class="instagram-feed__row">
                <div flex ng-repeat="item in list"
                     class="instagram-feed__row__item"
                     ng-class="{'mr30' : $index < 2}"
                     ng-if="item.open">

                    <div ng-if="!item.empty">
                        <img class="instagram-feed__row__item__image" ng-src="{{item.images.low_resolution.url}}"/>
                        <div flex class="instagram-feed__row__item__info-hover box_transition"
                         ng-click="vm.feed.gallery.openGallery(item)"
                         layout="column">
                        <div flex></div>
                        <div flex="none" layout="row">
                            <div flex class="instagram-feed__row__item__info-hover__left">
                                <md-icon md-svg-icon="favorite:white"
                                         class="md-platform-bar-theme"
                                         aria-hidden="true">
                                    <md-tooltip md-direction="top">Liked</md-tooltip>
                                </md-icon>

                                <span class="instagram-feed__row__item__info-hover__text">{{item.likes.count}} -</span>
                            </div>
                            <div flex class="instagram-feed__row__item__info-hover__right">
                                <md-icon md-svg-icon="comments:white"
                                         class="md-platform-bar-theme"
                                         aria-hidden="top">
                                    <md-tooltip md-direction="top">Comments</md-tooltip>
                                </md-icon>

                                <span class="instagram-feed__row__item__info-hover__text">{{item.comments.count}} -</span>
                            </div>
                        </div>
                        <div flex></div>
                    </div>
                    </div>

                </div>
            </div>

            <div flex ng-if="vm.feed.list.index < vm.feed.list.count">
                <div class="_pupj3">
                    <a class="_oidfu" ng-click="vm.feed.loadMore()">Load More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="instagram-gallery" id="instagram-gallery">
        <div layout="row" class="instagram-gallery__wrapper">
            <div flex layout="column">
                <div flex="none" class="instagram-gallery__wrapper__top-pd">

                    <md-icon md-svg-icon="close:white"
                             ng-click="vm.feed.gallery.onClose()"
                             class="md-platform-bar-theme instagram-close-icon"
                             aria-hidden="true">
                    </md-icon>

                </div>
                <div flex layout="row">
                    <div flex="none" layout="column" class="instagram-gallery__wrapper__block-move">
                        <div flex></div>
                        <div flex="none" class="instagram-gallery__wrapper__move-left">
                            <md-icon md-svg-icon="move_left:white"
                                     ng-if="vm.feed.gallery.current.index > 1"
                                     ng-click="vm.feed.gallery.moveLeft()"
                                     class="md-platform-bar-theme instagram-move-icon"
                                     aria-hidden="true">
                            </md-icon>
                        </div>
                        <div flex></div>
                    </div>
                    <div flex layout="column">
                            <div flex></div>
                            <div flex="none" id="instagram-gallery__wrapper__container"
                                 layout="row">
                                <div flex class="instagram-gallery__wrapper__image">
                                    <img alt="{{vm.feed.gallery.current.caption.text}}"
                                         id="instagram-gallery__wrapper__img"
                                         src="{{vm.feed.gallery.image.url}}">
                                </div>

                                <div flex="none" class="instagram-gallery__wrapper__info"
                                     id="instagram-gallery__wrapper__info-block"
                                     layout-padding="" layout="column">
                                    <div flex="none" class="instagram-gallery__wrapper__info__header" layout="column">
                                        <div flex></div>
                                        <div flex="none" layout="row">
                                            <div flex>
                                                <a target="_blank" class="instagram-gallery__wrapper__info__header__link" href="https://www.instagram.com/{{vm.feed.login}}/">{{vm.feed.login}}</a>
                                            </div>
                                            <div flex="none">
                                                <p class="instagram-gallery__wrapper__info__like-it">
                                                    <b>{{vm.feed.gallery.current.likes.count}}</b> is like it
                                                </p>
                                            </div>
                                        </div>
                                        <div flex></div>
                                    </div>
                                    <md-divider></md-divider>
                                    <div flex>
                                        <p class="instagram-gallery__wrapper__info__decription">
                                            {{vm.feed.gallery.current.caption.text}}
                                        </p>
                                    </div>
                                    <div flex="none" class="instagram-gallery__wrapper__info__date">
                                        <b>{{vm.feed.gallery.dateAdded}}</b>
                                    </div>
                                </div>
                            </div>
                        <div flex="none" class="instagram-gallery__wrapper__info"
                             id="instagram-gallery__wrapper__info-block__second"
                             layout-padding="" layout="column">
                            <div flex="none" class="instagram-gallery__wrapper__info__header" layout="column">
                                <div flex></div>
                                <div flex="none" layout="row">
                                    <div flex>
                                        <a target="_blank" class="instagram-gallery__wrapper__info__header__link" href="https://www.instagram.com/{{vm.feed.login}}/">{{vm.feed.login}}</a>
                                    </div>
                                    <div flex="none">
                                        <p class="instagram-gallery__wrapper__info__like-it">
                                            <b>{{vm.feed.gallery.current.likes.count}}</b> is like it
                                        </p>
                                    </div>
                                </div>
                                <div flex></div>
                            </div>
                            <md-divider></md-divider>
                            <div flex>
                                <p class="instagram-gallery__wrapper__info__decription">
                                    {{vm.feed.gallery.current.caption.text}}
                                </p>
                            </div>
                            <div flex="none" class="instagram-gallery__wrapper__info__date">
                                <b>{{vm.feed.gallery.dateAdded}}</b>
                            </div>
                        </div>
                            <div flex></div>
                    </div>
                    <div flex="none" layout="column" class="instagram-gallery__wrapper__block-move">
                        <div flex></div>
                        <div flex="none" class="instagram-gallery__wrapper__move-right">
                            <md-icon md-svg-icon="move_right:white"
                                     ng-if="vm.feed.gallery.current.index < vm.feed.gallery.lastIndex"
                                     ng-click="vm.feed.gallery.moveRight()"
                                     class="md-platform-bar-theme instagram-move-icon"
                                     aria-hidden="true">
                            </md-icon>
                        </div>
                        <div flex></div>
                    </div>
                </div>
                <div flex="none" class="instagram-gallery__wrapper__bottom-pd"></div>
            </div>
        </div>
    </div>
</div>